<div class="footer-container container-fluid">
    <nav class="footer-box container">
        <ul class="nav-links-container">
            <li class="footer-link">
                <a href="/user-rule" class="link">Правила сайта</a>
            </li>
        </ul>
    </nav>
</div>