<div class="nav-container">
    <nav class="nav-box">
        <ul class="nav-links-container">
            <li class="nav-link">
                <a href="/user-rule" class="link">Главная</a>
            </li>
        </ul>
    </nav>
</div>