<div class="container">
    <div class="row">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/user-rule">Правила сайта</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/some-shit">Добавлю потом</a>
            </li>

        </ul>
    </div>
</div>