<div class="nav-container container-fluid">
  <nav class="nav-box container">
    <ul class="nav-links-container">
      <li class="nav-links">
        <a href="/" class="link">Главная</a>
      </li>
      <li class="nav-links">
        <h4 class="link">KamiNews</>
      </li>
      <li class="nav-links">
        <a href="/news" class="link">Новости</a>
      </li>
      <li class="nav-links">
        <a href="/adminsobakapanel" class="link">Админка</a>
      </li>
    </ul>
  </nav>
</div>