<div class="nav-container">
  <nav class="nav-box">
    <ul class="nav-links-container">
      <li class="nav-link">
        <a href="/" class="link">Главная</a>
      </li>
      <li class="nav-link">
        <h1 class="link">KamiNews</>
      </li>
      <li class="nav-link">
        <a href="/news" class="link">Новости</a>
      </li>
    </ul>
  </nav>
</div>