<main class="main-container container">
    <div class="main-box row pt-5 pb-5">
        <h1 class="row">{{articleTitle}}</h1>
        <div class="row justify-content-center mt-5">
            <h5 class="row col-10">{{articleBody}}</h5>
        </div>
    </div>
</main>

{{>footer}}