<main class="main-container container">
    <div class="main-box row pt-5 pb-5">
        <h1>{{id}}</h1>
        <h2 class="row">{{articleTitle}}</h2>
        <p class="row">{{articleBody}}</p>
    </div>
</main>

{{>footer}}