<div class="container mt-3 mb-3">
    <div class="row justify-content-center ">
        <form method="{{method}}" action="{{actionUrl}}" class="col-lg-12 g-3 needs-validation" novalidate>
            <div class="col-md-10 mt-3">
                <label for="validationCustom01" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="validationCustom01" name="articleTitle" required>
                <div class="valid-feedback">
                    Отлично!
                </div>
            </div>
            <div class="col-md-10 mt-3">
                <label for="validationCustom02" class="form-label">Тело</label>
                <textarea type="text" class="form-control" id="validationCustom02" name="articleBody" rows="10"
                    wrap="hard" required></textarea>
                <div class="valid-feedback">
                    Отлично!
                </div>
            </div>
            <div class="col-md-10 mt-3 mb-3">
                <label for="validationCustom03" class="form-label">Теги</label>
                <input type="text" class="form-control" id="validationCustom03" name="typeOfArticles">
                <div class="valid-feedback">
                    Отлично!
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-dark" type="submit">Опубликовать пост</button>
            </div>
        </form>

    </div>
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>