<main class="main-container container">
    <div class="main-box row">
        <div class="game-news-container">
            <div class="game-news-item">
                .
            </div>
        </div>
        <div class="hardware-news-container">
            <div class="hardware-news-item">

            </div>
        </div>
    </div>
</main>

{{>footer}}