<div class="container-fluid login-page mt-3 mb-3">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="row d-flex btns-for-forms col col-sm-6 justify-content-center">
            <div class="btn-logincol col-sm-6 mb-2">
                <button class="btn btn-dark btn-switcher btn-login w-100">Войти</button>
            </div>
            <div class="btn-reg col-sm-6 mb-2">
                <button class="btn btn-dark btn-switcher btn-reg w-100">Регистрация</button>
            </div>

        </div>
    </div>
    <div class="row justify-content-center form-container" id="login-page-box" style="display: block;">
        <form class=" col-md-6 container" method="{{method}}" action="{{loginUrl}}">
            <div class="mb-3">
                <label for="validationDefault01" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="validationDefault01" name="loginusername" required>
            </div>
            <div class="mb-3">
                <label for="validationDefault02" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="validationDefault02" name="loginpassword" required>
            </div>
            <div class="col-12">
                <button class="btn btn-dark access" type="submit">Войти</button>
            </div>
        </form>
    </div>
    <div class="row justify-content-center form-container" id="registration-page-box" style="display: none;">
        <form class="col-md-6 container" method="{{method}}" action="{{registorUrl}}">
            <div class="mb-3">
                <label for="emailValidation" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="emailValidation" name="reguseremail" required>
            </div>
            <div class="mb-3">
                <label for="usernameValidation" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="usernameValidation" name="regusername" required>
            </div>
            <div class="mb-3">
                <label for="passwordValidation" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="passwordValidation" name="reguserpassword" required>
            </div>
            <div class="col-12">
                <button class="btn btn-dark access" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
<script>
    const registrationForm = document.querySelector('#registration-page-box')
    const loginForm = document.querySelector('#login-page-box')
    const btnsSwitchForm = document.querySelectorAll('.btn-switcher')
    btnsSwitchForm.forEach(btnSwitchForm => {
        btnSwitchForm.addEventListener('click', () => {
            if (btnSwitchForm.classList.contains('btn-login')) {
                registrationForm.style.display = 'none'
                loginForm.style.display = 'block'
            }
            if (btnSwitchForm.classList.contains('btn-reg')) {
                loginForm.style.display = 'none'
                registrationForm.style.display = 'block'
            }
        })
    })

    function switchForms() {

    }
</script>