<div class="container-fluid login-page mt-3 mb-3">
    <div class="row justify-content-center ">
        <form class="col-lg-6" method="{{method}}" action="{{actionUrl}}">
            <div class="mb-3">
                <label for="validationDefault01" class="form-label">Username</label>
                <input type="text" class="form-control" id="validationDefault01" name="username" required>
            </div>
            <div class="mb-3">
                <label for="validationDefault02" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="validationDefault02" name="password" required>
            </div>
            <div class="col-12">
                <button class="btn btn-dark access" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
<script>
    const btn = document.querySelector('.access')
    const token = JSON.stringify(token)
    btn.addEventListener('click', () => {
        try {
            const response = await fetch('/check_user', {
                method: 'get',
                body: JSON.stringify(token),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const json = await response.json()
            console.log(JSON.stringify(json))
        } catch (e) {
            console.log(e)
        }

    })
</script>